.content-container {
    width: 80%;
    display: flex;
    /*justify-content: center;*/
    margin: 0 auto;
    margin-top: 20px;

    .TimeTable {
        width: 100%;
        display: flex;
        max-height: 400px;
    }
    .tableCanvas {
        width: 500px;
        display: flex;
        margin: 0 auto;
        margin-top: 20px;
    }
    .SelectedTable {
        display: flex;
        max-height: 250px;
    }
    .time-table-wrapper {
        display: flex;
        border: 0.5px solid
    }
    .selected-table-wrapper {
        width: auto;
        height: 250px;
        flex: 1;
        border: 0.5px solid;
    }
}

@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }
    .tableCanvas {
        width: 100%;
    }
}
